:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.bg-main{
    background-image: url(../../../../public/blue\ back.jpg);
    background-size: contain;
}